craftpresence/*
crash-reports/*
downloads/*
HammerCore/*
journeymap/*
llibrary/*
local/*
logs/*
mods/*
mputils/*
resourcepacks/*
saves/*
snapshots-server/*
woot/*
.ReAuth.cfg
BotaniaVars.dat
concheckrmd
usernamecache.json
usercache.json
update.txt
manifest.json
minecraftinstance.json
options.txt
optionsof.txt
crafttweaker.log
knownkeys.txt
resources/mainmenu/bg.old.png
backups/2018-10-03-22-05-59.zip
backups/2018-09-30-18-20-31.zip
.mixin.out/audit/mixin_implementation_report.txt
.mixin.out/audit/mixin_implementation_report.csv
backups/*
screenshots/*
