craftpresence/*
crash-reports/*
downloads/*
HammerCore/*
journeymap/*
llibrary/*
local/*
logs/*
mods/*
mputils/*
resourcepacks/*
saves/*
snapshots-server/*
woot/*
.ReAuth.cfg
BotaniaVars.dat
concheckrmd
usernamecache.json
usercache.json
update.txt
manifest.json
minecraftinstance.json
options.txt
optionsof.txt
crafttweaker.log
knownkeys.txt
resources/mainmenu/bg.old.png
