# Configuration file

general {
    # The speed multiplier for the breeder. Higher is faster.
    # Min: 0.01
    # Max: 100.0
    D:breederSpeed=1.0

    # The speed multiplier for the roost. Higher is faster.
    # Min: 0.01
    # Max: 100.0
    D:roostSpeed=1.0
}


