# Configuration file

~CONFIG_VERSION: 2

general {
    # Invisible Blocks will be shown in-game. [default: false]
    B:debugInvisibleBlocks=false

    # Models will be regenerated every frame drawn. [default: false]
    B:debugModels=false

    behaviours {
        # Crafting Table sheep will use their recipe to consume and produce items. [default: true]
        B:allowAutoCrafting=true

        # Chiseled bookshelf sheep will affect enchanting tables. [default: true]
        B:allowBookshelf=true

        # Chiseled Cactus sheep will deal damage players and destroy items. [default: true]
        B:allowCactus=true

        # Chiseled Magma sheep will deal fire damage when touched. [default: true]
        B:allowFireDamage=true

        # Chiseled glowstone sheep will light up the area around them.
        # WARNING: testing shows this creates a lot of chunk recalculation. I do not recommend this option. [default: false]
        B:allowGlowstone=false

        # Chiseled redstone sheep will trigger Redstone circuits. [default: true]
        B:allowRedstone=true

        # Chiseled TNT Sheep will be explode if exposed to active redstone. [default: true]
        B:allowTNT=true

        # Sets the behaviour of when two sheep breed
        # * Unchiseled     - Baby sheep will be born without the parent's block (default)
        # * SimpleBreeding - Baby sheep will have a 50% chance of being chiseled the same as one parent or the other [default: Unchiseled]
        S:breedingBehaviour=Unchiseled

        chancecubes {
            # The distance a sheep can affect players.
            I:distance=500

            # Should chance cube sheep cause trouble
            B:enabled=true
        }

    }

    shearing {
        # Sets the behaviour when a sheep is sheared
        # * RevertSheep - will change the sheep back to a normal sheep (default).
        # * ChiselFarm  - will allow the sheep to produce chiseled blocks (warning, this currently allows duping ores).
        # * CannotShear - You cannot shear the sheep while chiseled.
        #  [default: RevertSheep]
        S:behaviour=RevertSheep
    }

}


